<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>Registro</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'clienteapp/images/fav_icon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'clienteapp/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'clienteapp/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'clienteapp/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'clienteapp/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'clienteapp/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'clienteapp/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'clienteapp/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'clienteapp/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'clienteapp/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #999999;">
		
	<div class="limiter">
		<div class="container-login100">
				<div class="container-login100" style="background-image: url('{% static 'clienteapp/images/bg-01.jpg' %}');">

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form method="post">{% csrf_token %}

					<span class="login100-form-title p-b-59">
						Registro
					</span>

						<div class="wrap-input100 validate-input" data-validate="Name is required">
							<span class="label-input100">Nombre de Usuario</span>
							{{ form.usuario }}
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
							<span class="label-input100">Correo</span>
							{{ form.correo }}
							
							<span class="focus-input100"></span>
						</div>


						<div class="wrap-input100 validate-input" data-validate = "Password is required">
							<span class="label-input100">Contraseña</span>
							
							{{ form.password_1 }}
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
							<span class="label-input100">Repetir Contraseña</span>
							{{ form.password_2 }}
							
							<span class="focus-input100"></span>
						</div>

					

						<div class="container-login100-form-btn">
							
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn">
									Registrar
								</button>
						</div>
						
						
							
				
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{% static 'clienteapp/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'clienteapp/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'clienteapp/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'clienteapp/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'clienteapp/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'clienteapp/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'clienteapp/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'clienteapp/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'clienteapp/js/main.js' %}"></script>

</body>
</html>